{% extends "evaluations/base.html" %}
{% load static %}

{% block title %} <title>Guías</title> {% endblock %}
{% block head %}
  {{ block.super }}
  <link href="{% static 'evaluations/css/evaluations.css' %}" rel="stylesheet">
  <style>

  </style>

{% endblock head %}

{% block body_header %}
  <header>
    <nav>
      <ul id="header-flex">
        <li id="asistencia-header-item" class="header-item">
          <a href="{% url 'today_attendance' %}">Asistencia</a>
        </li>
        {% if user.is_authenticated %}
          <li id="logout-header-item" class="header-item">
            <a href="#"
              onclick='event.preventDefault();confirm("Confirmar salida. ¿Desea salir y volver a la página de login?") && document.getElementById("logout-form").submit();'>
              Salir
            </a>

            <form id="logout-form" action="{% url 'logout' %}?next={% url 'login' %}" method="post">
              {% csrf_token %}
            </form>
          </li>
        {% endif %}
      </ul>
    </nav>
  </header>
{% endblock body_header %}

{% block body_main %}
  <h2>Guias</h2>
  <div class="vertical-links-flex">
    {% for teacher in teachers %}
      <div class="vertical-link-flex-item">
        <a href="{% url 'teacher_dashboard' teacher.pk %}">{{ teacher.name }}</a>
      </div>
    {% endfor %}
  </div>
{% endblock body_main %}
