{% extends "evaluations/base.html" %}
{% load static %}
{% load i18n %}
{% load attendance_extras %}

{% block title %} <title>Registrado</title> {% endblock %}
{% block head %}
{{ block.super }}
  <link href="{% static 'evaluations/css/evaluations.css' %}" rel="stylesheet">
{% endblock %}


{% block body_header %}
  <header>
    <nav>
      <ul id="header-flex">
        {% if cycles|length == 1 %}
          <li id='register-header-item' class="header-item">
            <a href={% url 'activity_attendance_single_cycle' activity.pk  cycles.0.pk %}>Registro</a>
          </li>
        {% else %}
          <li id='register-header-item' class="header-item">
            <a href={% url 'activity_attendance_all_cycles' activity.pk %}>Registro</a>
          </li>
        {% endif %}
        <li id='today-attendance-header-item' class="header-item">
          <a href="{% url 'today_attendance' %}">Hoy</a>
        </li>
      </ul>
    </nav>
  </header>
{% endblock body_header %}


{% block body_main %}
  
  <h2 class='top-title'>Registrado</h2>
  <nav class='adjacent-spinner-flex text-secondary'>
    <a class='adjacent-spinner-flex-link left-link' href="{{ prev_link }}"> << </a>
    <div class='adjacent-spinner-flex-date'>
      <p>
        {% language 'es' %}
          {{ activity.start.date |date:"l j \d\e F \d\e Y" |capfirst }}
        {% endlanguage %}
      </p>
      <p>
        ({{ activity.get_activity_type_display }})
      </p>
    </div>
    <a class='adjacent-spinner-flex-link right-link' href="{{ next_link }}"> >> </a>
  </nav>
  <p class='text-secondary'>
    ({% for cycle in cycles %} {{ cycle.name }} {% endfor %})
  </p>
  <ul>
    {% for attendance in attendances %}
      <li>{{ attendance.student.cycle }} {{ attendance.student  }} ---> {{ attendance.is_present_long_display }}</li>
    {% endfor %}
  </ul>

{% endblock body_main %}
