{% extends "evaluations/base.html" %}
{% load static %}

{% block title %} <title>Registro de asistencia</title> {% endblock %}
{% block head %}
{{ block.super }}
  <link href="{% static 'evaluations/css/evaluations.css' %}" rel="stylesheet">
{% endblock %}


{% block body_header %}
<nav>
  <ul>
    <li><a href={% url 'activity_attendance_cycles' activity.pk %}>Otros ciclos</a></li>
  <!--
    <li><a href={% url 'today_attendance' %}>Meses</a></li>
    <li><a href={% url 'today_attendance' %}>Ciclos</a></li>
  -->
  </ul>
</nav>
{% endblock body_header %}


{% block body_main %}
  
  <h2 class='top-title'>Registro de asistencia</h2>


  <p class='text-secondary'>
    {{ activity }}
    {% for cycle in cycles %}
      {{ cycle }}
    {% endfor %}
  </p>

  {% if formset.total_form_count > 0 %}
    <form method="post">
      {% csrf_token %}
      {{ formset.management_form }}
      <table>
        <thead>
          <tr>
            <th>PRESENTE</th>
            <th>ATRASADO</th>
            <th>RETIRADO</th>
          </tr>
        </thead>
        <tbody>
          {% for form in formset %}
            <tr>
              <td>
                <p>{{ form.errors }}</p>
                {{ form.present }}
                <label for="{{ form.present.id_for_label }}">{{ form.initial.student }}</label>
              </td>
              <td>{{ form.late_time.errors }} {{ form.late_time }}</td>
              <td>{{ form.retire_time.errors }} {{ form.retire_time }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <input type="submit" value="Registrar">
    </form>
  {% else %}
    <p>Sin estudiantes en la nómina.</p>
  {% endif %}

  <p><a href={% url 'activity_attendance_nomina' activity.pk %}>Modificar nómina</a></p>

{% endblock body_main %}
