{% extends "evaluations/base.html" %}
{% load static %}
{% load i18n %}
{% load attendance_extras %}

{% block title %} <title>Sin Actividad</title> {% endblock %}
{% block head %}
{{ block.super }}
  <link href="{% static 'evaluations/css/evaluations.css' %}" rel="stylesheet">
{% endblock %}


{% block body_header %}
  <header>
    <nav>
      <ul id="header-flex">
        <li id='calendar-header-item' class="header-item">
          <a href="{% url 'activities' %}#{{ now_datetime |year_month_id }}" %}>Calendario</a>
        </li>
        <li id='today-attendance-header-item' class="header-item">
          <a href="{% url 'today_attendance' %}">Hoy</a>
        </li>
        <li id="all-teachers-header-item" class="header-item">
          <a href="{% url 'teachers' %}">Guias</a>
        </li>
      </ul>
    </nav>
  </header>
{% endblock body_header %}


{% block body_main %}
  
  <h2 class='top-title'>Sin actividades para hoy</h2>
  {% language 'es' %}
    <p class='text-secondary'>{{ now_datetime |date:"l j \d\e F \d\e Y" |capfirst }}</p>
  {% endlanguage %}

{% endblock body_main %}
